body {
  background: linear-gradient(-225deg, #5d9fff 0%, #b8dcff 48%, #6bbbff 100%);
  background-attachment: fixed;
  color: white;
}
.container {
  background: linear-gradient(-225deg, #5d9fff 0%, #b8dcff 48%, #6bbbff 100%);
  margin: 80px 400px;
  padding: 30px 20px;
  border-radius: 20px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2), 0 4px 12px rgba(0, 0, 0, 0.1);
}
.search-input {
  width: 75%;
  padding: 10px 10px;
  border-style: none;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.3);
}
.search-button {
  margin-left: 10px;
  width: 20%;
  border-style: none;
  background-color: #b8dcff;
  color: white;
  padding: 10px 5px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
.main-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.temperature {
  transform: translate(-35px, -10px);
}
.details {
  transform: translateY(-30px);
  font-size: 15px;
  line-height: 25px;
  font-family: "Roboto";
  color: rgba(255, 255, 255, 0.8);
}
.temp-emoji {
  font-size: 40px;
}
.temp-number {
  font-size: 70px;
  font-family: "Roboto";
  vertical-align: 30px;
}
.temp-units {
  font-weight: 900;
  vertical-align: 73px;
  font-size: 15px;
}
h1 {
  font-size: 45px;
  padding-left: 20px;
  font-family: "Merriweather Sans" "Courier New", Courier, monospace;
}
hr {
  border: none;
  height: 1px;
  background-color: #4facfe;
  margin-top: 20px;
}
strong {
  font-weight: 900;
  color: white;
}
footer {
  color: rgba(128, 128, 128, 0.7);
}
.forecast {
  display: flex;
  justify-content: space-around;
}
.forecast-day {
  text-align: center;
}
.forecast-temperature {
  display: flex;
  justify-content: space-between;
}
.forecast-temp {
  display: inline-block;
  margin-right: 8px;
  font-weight: 900;
}
.forecast-icon {
  font-size: 38px;
}
.forecast-date {
  color: #2470a0;
  font-weight: 900;
}
